/* Importation de la police Raleway + Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root{
    --blue: #17abb3; /* rgb(23, 187, 179) */
    --text: #333; /* rgb(51, 51, 51) */
    --grey-1:#e3e3e3; /* rgb(227, 227, 227) */
    --grey-2:#f5f5f5; /* rgb(245, 245, 245) */
    --white: #fff; /* rgb(255, 255, 255) */
}

/* On réinitialise tout à Zéro pour le navigateur */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ajout de la police Raleway pour le contenu */
html{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--text);
    font-size: 100%;
}

/* Ajout de la police Lato pour les titres */
h1, h2, h3{
    font-family: 'Lato', sans-serif;
}

/* Mise en place de la couleur pour les Titre h1 et h2 */
h1, h2{
    color: var(--white);
}

h1{
    font-size: 3em;
}

/* Mise en place de la couleur pour les titre h3 */
h3{
    color: var(--blue);
    font-size: 1.5em;
    padding-bottom: 10px;
}


/* Le body doit faire 1160px de large et doit être centré sur la page et un fond coloré */
body{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--grey-2);
    font-size: 1rem;
}


header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    max-width: 1160px;
    width: 100%;
    height: 240px;
    background-color: var(--blue);
    padding: 0 100px;
}

/* On réparti l'espace pour l'image de profil */
header .picture{
    max-width: 1160px;
    width: 40%;
}

/* Image ronde, avec bordure blanche de 5px */
header img{
    width: 150px;
    height: 150px;
    border: solid 5px var(--white);
    border-radius: 50%;
    object-fit: contain;
}

/* Au survol de l'image, l'icône de la souris change en zoom */
header img:hover{
    cursor: zoom-in;
}

/* On réparti l'espace pour les informations du cv */
header .identite{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1160px;
    width: 60%;
    gap: 10px;
    padding-bottom: 15px;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    flex: 2 2 50%;
    gap: 8px 32px;
    margin-top: 20px;
}

/* On aligne les coordonnées sur 2x2 */
header nav a {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    gap: .6rem;
    line-height: 1.4;
    color: var(--white);
    text-decoration: none;
}

header nav a i {
    width: 1.25em;
    display: inline-flex;
    justify-content: center;
}

/* Css du contenu principal du main */

/* Contenu aside */
main{
    display: flex;
    background-color: red;
    height: auto;
}

/* Mise en forme de la section information */
.informations {
    width: 350px;
    height: auto;
    background-color: var(--grey-1);
    padding: 50px 50px;
}


hr{
    background-color: rgba(51, 51, 51, .22);
    height: 1px;
    border: none;
    margin-bottom: 18px;
}

/* Mise en forme des tables Compétences, langues */
.competences table,
.langue table{
    width: 250px;
    margin-bottom: 40px;
}

/* Agrandir la hauteur des lignes du tableau */
.competences table tr td,
.langue table tr td{
    height: 25px;
}


.competences table tr td:first-child{
    font-weight: bolder;
}

/* Mettre les étoiles des compétences en bleues et alignées sur la droite */
.competences table tr td:last-child{
    text-align: right;
    font-size: .8rem;
    color: var(--blue);
}

.langue table tr td:last-child{
    text-align: right;
}

/* Mettre en forme les listes */
.qualite ul, 
.interet ul{
    list-style: square;
    line-height: 1.2;
    padding-left: 23px;
    margin-bottom: 40px;
}

/* Mettre les puces des listes en bleues et réduire leur taille */
.qualite ul li::marker, 
.interet ul li::marker{
    color: var(--blue);
    font-size: 1.5em;
}

/* Cadre général de la section détail du cv (Profil, formation, stages, expérience) */
.details{
    width: 810px;
    background-color: var(--grey-2);
    padding: 50px 50px;
}


article{
    margin-bottom: 40px;
}

/* Mise en forme du texte de profil */
.profil p{
    text-indent: 1.5em;
    text-align: justify;
}

/* Mise en forme d'une formation, stage, expérience */
.intitule{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 5px 0;
    padding-left: 10px;
    margin-left: -10px;   
}

/* AJouter un fond gris plus une bordure bleu au survol d'une formation, stage, expérience */
.intitule:hover{
    background-color: var(--grey-1);
    border-left: outset 5px var(--blue);
    padding-left: 5px;
}

.formation,
.stage,
.metier,
.experience{
    display: flex;
    justify-content: space-between;
}

/* L'année de l'expérience, stage, formation en bleue et alignée sur la droite */
.intitule span{
    color: var(--blue);
    text-align: right;
    font-weight: bolder;
}
